html{
    scroll-behavior: smooth;
}
.navbar{
    height: 10vw;
    display: flex;
    justify-content: space-around;
    background-color: gray;
    align-content: center;
}
.navbar .logo{
    height: 100%;
}
.navbar .logo img{
    height: 100%;
    cursor: pointer;
}
.navbar .links{
    height: 100%;
    text-align: center;
    margin: 1.2%;
}
.navbar .links ul{
    list-style-type: none;
    display: inline-flex;
    padding: 0;
}
.navbar .links ul LI{
    padding: 3%;
}
.banner{
    width: 100vw;
    height: 80vh;
}
.banner .img-container{
    width: 100%;
    height: 100%;
    text-align: center;
}
.banner .img-container img{
    width: 100%;
    height: 100%;
}
.banner .overlay{
    width: 100%;
    height: 83%;
    background-color: black;
    z-index: +1;
    position: absolute;
    opacity: 0.7;
}
.banner p{
    position: absolute;
    color: red;
    font-size: 5rem;
    z-index: 2;
}
.banner .about-btn{
    position: absolute;
    color: black;
    font-size: 4rem;
    cursor: pointer;
    z-index: 2;
    left: 40%;
    top: 70%;
    border-radius: 2.4rem;
}
.banner .about-btn:hover{
    font-size: 4.3rem;
    color: white;
    background: black;
}
.about{
    width: 100vw;
    height: 80vh;
    background-color: white;
    display: flex;
   flex-direction: column;
}
.about .heading{
    color: rgb(11, 142, 28);
    width: 100%;
    height: 20;
    margin: 1%;
    text-align: center;
}
.about .about-info{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: space-between;
}
.about .about-info .about-image{
width: 60%;
}
.about .about-info .about-image img{
    width: 100%;
    height: 100%;
    border-radius: 1.4rem;
}
.about .about-info .about-text{
width: 50%;
}
.services{
    width: 100vw;
    height: 80vh;
    background-color: rgb(174, 205, 200);
    display: flex;
   flex-direction: column;
}
.services .heading{
    color: rgb(11, 142, 28);
    width: 100%;
    height: 20;
    margin: 1%;
    text-align: center; 
    font-size: 2rem;
}
.services .services-info{
    display: flex;
    justify-content: space-around;
}

.services .services-info .service-detail{
width: 30%;
border: 3px solid black;
border-radius: 2rem;
text-align: center;
}
.contacts{
    width: 100vw;
    height: 70vh;
    background-color: rgb(103, 177, 116);
    display: flex;
    justify-content: space-between;
}
.contacts .contact-form{
    width: 30%;
}
   .contacts .map{
    width: 70%;
    height: 100%;
   }
.contact .map iframe{
    width: 100%;
    height: 100%;
    justify-self: end;
}